    <header>
    <div class="menu">
      <h2 class ="menu_title">ElbrusКино</h2>
      <ul class="menu__list">
        <li>
          <a class="menu_btn">Мое кино</a>
        </li>
        <li>
          <a class="menu_btn">Магазин</a>
        </li>
        <li>
          <a class="menu_btn">Мои покупку</a>
        </li>
        <li>
          <a class="menu_btn">Поиск</a>
        </li>
      </ul>
      <h3><a class ="menu_title" href="#">Личный кабинет</a></h3>
    </div>
  </header>
