

<header>
    <div class="container header-flex">

        <section class="search">
            <form class="search__form">
                <h2 class="search__form-head">Поиск</h2>
                <label class="search__form-block">
                    <input type="text" class="search__form-input" id="searchText" placeholder="Введи название...">
                </label>
            </form>
        </section>
    </div>
</header>
<main>
  <div class="container">
    <section class="tv_shows">
      <h2 class ="tv_shows_title">Результаты поиска</h2>

      <ul class="tv-shows__list">

      </ul>
    </section>
  </div>

</main>



<script defer src="/javascripts/main.js"></script>

